<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Remit </title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.scss") %>" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

  <!-- Dashboard Core -->
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/scss/dashboard/dashboard.scss") %>" />

</head>
  <header>
    <section class="container">
      <nav role="navigation">


        <div class="container-fluid ">
          <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4" >
                 <%= if @current_user do %>

                 <div class="dropdown dropdown-menu-right" style="text-align: center" >
                       <a  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- <span class="ml-2 d-none d-lg-black"></span> -->
                        <span class="text-default"><%= @current_user.name %></span>

                       </a>
                       <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" >
                         <a class="dropdown-item">
                           <%= link " Users", class: "dropdown-icon fa fa-user fa-size-2x",  to: Routes.user_path(@conn, :index) %>
                        </a>
                        <a class="dropdown-item">
                          <%= link "Profile", class: "dropdown-icon fa fa-bank fa-size-2x",  to: Routes.profile_path(@conn, :index) %>
                       </a>
                         <a class="dropdown-item">
                           <%= link " Password", class: "dropdown-icon fa fa-key fa-size-2x",  to: Routes.password_path(@conn, :index) %>
                        </a>
                        <div class="dropdown-divider"></div>

                         <a class="dropdown-item">
                           <%= link "Log out", class: "dropdown-icon fa fa-sign-out fa-size-2x", to: Routes.session_path(@conn, :delete, current_session(@conn)), method: :delete %>
                          </a>

                       </div>
                     </div>

                         <% else %>

                           <%= link "Remit", class: "btn btn-primary", to: Routes.page_path(@conn, :index) %>
                           <%= link "Login", class: "btn btn-primary", to: Routes.session_path(@conn, :new) %>
                       </div>

                 <% end %>

          </div>



          </div>

        </div>

        <div class="dropdown-divider"></div>

        <div class="container-fluid">
          <%= if @current_user do %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Remit Icon</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Accounts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">History</a>
                  </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div>
              </nav>
            <% end %>
      </div>



      </nav>
    </section>
  </header>
  <main role="main" class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= render @view_module, @view_template, assigns %>
  </main>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
