<h1> Showing Profile</h1>

<ul>
    <li>
        <strong> Name: </strong>
        <%= @profile.name %>
    </li>
    <li>
        <strong> Currency: </strong>
        <%= @profile.currency %>
    </li>
</ul>

<span><%= link "Edit", to: Routes.profile_path(@conn, :edit, @profile) %></span>
<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
